.borderless  {
    font-family: ariel; font-size: 12px; 
    color:black; text-align:right; 
    border-width:0;border-color:red;  
}
.headtext{
    font-family: ariel; font-size: 16px;
    color: blue; text-align: left;
}
form { margin : 0; }
input { vertical-align : middle; }
.inputname {position:absolute; left:100px; width : 307px; }
.cm_input {position:absolute; z-index:1;left:150px; width : 307px; }
.cm_label {position:absolute; left:1px; height: 100px;}

label { display:block; font-family:Arial, sans-serif; font-size:13px; text-align:right; width:75px; margin-bottom: 10px;float: left; padding-right: 10px;}


div.suggestions {
    position: absolute;   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid blue;
}

div.suggestions div {
    cursor: default;
    padding: 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}