<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_2_5.xsd"
  version="2.5">

  <servlet>
    <servlet-name>CustomTagDemo</servlet-name>
    <servlet-class>
      net.ensode.glassfishbook.customtags.CustomTagDemoServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CustomTagDemo</servlet-name>
    <url-pattern>/customtagdemo</url-pattern>
  </servlet-mapping>

</web-app>
