<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>ImplicitObjectsJsp</servlet-name>
    <jsp-file>/implicitobjects.jsp</jsp-file>
    <init-param>
      <param-name>webxmlparam</param-name>
      <param-value>This is set in the web.xml file</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ImplicitObjectsJsp</servlet-name>
    <url-pattern>/implicitobjects.jsp</url-pattern>
  </servlet-mapping>
</web-app>
