<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>CompositeKeyDemoServlet</servlet-name>
		<servlet-class>
			net.ensode.glassfishbook.compositekeys.CompositeKeyDemoServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompositeKeyDemoServlet</servlet-name>
		<url-pattern>/compositekeydemo</url-pattern>
	</servlet-mapping>
</web-app>
