<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="myScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="triggers">
			<list>
				<ref bean="myTriggersA" />
				<ref bean="myTriggerB" />
			</list>
		</property>
		<property name="autoStartup" value="true"></property>
	</bean>

	<bean id="myTriggersB"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myJobDetailA">
		</property>
		<property name="cronExpression">
			<value>0/1 * * * * ?</value>
		</property>
	</bean>

	<bean id="myJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myJobA">
		</property>
		<property name="targetMethod" value="work"></property>
		<property name="concurrent" value="false" />
	</bean>

	<bean id="myJobA" class="QuartzDemo.PrintCurrentTime">
	</bean>

</beans>